@use "@styles/breakpoint";
@use "@styles/mixins";

.latestNews {
  padding: var(--spacing-section) 0;
}

.container {
  @include mixins.container();
}

.intro {
  margin-bottom: var(--spacing-section);
  @media (min-width: breakpoint.$md) {
    display: grid;
    align-items: flex-end;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    > div:nth-of-type(2) {
      display: flex;
      justify-content: flex-end;
    }
  }
  h2 {
    @include mixins.sectionLabel();
  }
  h3 {
    font-size: var(--font-size-h2);
    @media (min-width: breakpoint.$md) {
      margin-bottom: 0;
    }
  }
}

.grid {
  display: grid;
  column-gap: 0;
  row-gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  @media (min-width: breakpoint.$sm) {
    padding: 0;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: breakpoint.$lg) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.button {
  @include mixins.button();
  position: relative;
  z-index: 5;
  &.fill {
    display: inline-block;
    margin-left: auto;
    font-size: 1.3125rem;
    font-family: var(--font-body-bold);
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--yellow);
  }
}
