@use "@styles/breakpoint";
@use "@styles/mixins";

.banner {
  position: relative;
  z-index: 2000;
  width: 100%;
  overflow: hidden;
  background-color: var(--yellow);
}

.bannerLink {
  display: flex;
  align-items: center;
  &:hover,
  &:focus {
    span {
      text-decoration: underline;
    }
  }
  span {
    font-family: var(--font-body-bold);
    text-transform: uppercase;
    letter-spacing: 0.025em;
    line-height: 1.1;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--black);
    margin: 0;
  }
}

.arrow {
  fill: var(--black);
  width: 20px;
}

.container {
  @include mixins.container();
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  @media (min-width: breakpoint.$sm) {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  display: flex;
  justify-content: center;
  position: relative;
}
