@use "@styles/breakpoint";
@use "@styles/mixins";

.social {
  background-color: var(--yellow);
  color: var(--black);
  padding: var(--spacing-section) 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: min(100vw, 100vh);
  overflow: hidden;
  h2 {
    font-size: var(--font-size-h1);
  }
}

.container {
  @include mixins.container();
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.images {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    clip-path: circle(50% at 50% 50%);
  }
}

.image {
  display: block;
  position: absolute;
  aspect-ratio: 1/1;
  &:nth-child(1) {
    width: 20%;
    transform: translate(220%, -180%);
    @media (min-width: breakpoint.$md) {
      width: 12%;
      transform: translate(290%, -160%);
    }
  }
  &:nth-child(2) {
    width: 25%;
    transform: translate(140%, 150%);
    @media (min-width: breakpoint.$md) {
      width: 25%;
      transform: translate(180%, 0%);
    }
  }
  &:nth-child(3) {
    width: 20%;
    transform: translate(40%, -150%);
    @media (min-width: breakpoint.$md) {
      width: 20%;
      transform: translate(60%, 150%);
    }
  }
  &:nth-child(4) {
    width: 20%;
    transform: translate(-10%, 200%);
    @media (min-width: breakpoint.$md) {
      width: 10%;
      transform: translate(-80%, 180%);
    }
  }
  &:nth-child(5) {
    width: 20%;
    transform: translate(-215%, 138%);
    @media (min-width: breakpoint.$md) {
      width: 20%;
      transform: translate(-205%, 48%);
    }
  }
  &:nth-child(6) {
    width: 25%;
    transform: translate(-145%, -150%);
    @media (min-width: breakpoint.$md) {
      width: 15%;
      transform: translate(-145%, -150%);
    }
  }
}

.socialLinks {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    display: block;
    margin: 0 0.5rem;
    @media (min-width: breakpoint.$md) {
      margin: 0 1rem;
    }
    a {
      display: flex;
      align-items: center;
    }
    span {
      display: none;
      @media (min-width: breakpoint.$md) {
        display: block;
      }
    }
  }
  img {
    width: 25px;
    margin-right: 0.5rem;
  }
}
