.location {
  a {
    &:link,
    &:visited {
      .image {
        &::after {
          background-color: var(--yellow);
          mix-blend-mode: multiply;
          transition: background-color 800ms ease-out 160ms;
        }
      }
    }
    &:hover,
    &:focus {
      .image {
        &::after {
          background-color: var(--blue);
          transition: background-color 300ms ease-out;
        }
      }
    }
  }
}

.image {
  aspect-ratio: 1/1;
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.content {
  padding: 0.5rem 0;
  // background-color: var(--black);
  // color: var(--white);
  display: flex;
  flex-direction: column;
  flex: 1 1;

  h3,
  p {
    margin: 0;
  }
}
