@use "@styles/breakpoint";
@use "@styles/mixins";

.text {
  margin: var(--spacing-section) 0;
  &.align-center {
    text-align: center;
  }
  &.spacing-remove-top {
    margin-top: 0;
  }
  &.spacing-remove-bottom {
    margin-bottom: 0;
  }
  &.spacing-remove-all {
    margin-top: 0;
    margin-bottom: 0;
  }
  :global(.handwritten) {
    color: var(--yellow);
    font-family: var(--font-handwritten);
  }
  h1 {
    max-width: 15ch;
    margin-bottom: 0;
  }
}

.wrapper {
  p,
  ul,
  ol {
    &:last-child {
      margin-bottom: 0;
    }
    @media (min-width: breakpoint.$sm) {
      max-width: 75%;
    }
    @media (min-width: breakpoint.$md) {
      max-width: 66%;
    }
  }
  .align-center & {
    margin: 0 auto;
  }
}
