@use "@styles/breakpoint";
@use "@styles/mixins";

.text {
  padding: var(--spacing-section) 0;

  :global(.handwritten) {
    color: var(--yellow);
    font-family: var(--font-handwritten);
  }
}

.wrapper {
  max-width: 42.8rem;
}
