@use "@styles/mixins";
@use "@styles/breakpoint";

.marquee {
  --marquee-background: var(--yellow);
  --marquee-item-even: var(--black);
  --marquee-item-odd: var(--blue);
  width: 100%;
  padding: 0.5rem 0;
  background-color: var(--marquee-background);
  position: relative;
  cursor: pointer;
  > div {
    overflow: hidden;
  }
  &.theme-black {
    --marquee-background: var(--black);
    --marquee-item-even: var(--white);
    --marquee-item-odd: var(--yellow);
  }
  &.theme-blue {
    --marquee-background: var(--blue);
    --marquee-item-even: var(--white);
    --marquee-item-odd: var(--yellow);
  }
}

.item {
  &.even {
    color: var(--marquee-item-even);
  }
  &.odd {
    color: var(--marquee-item-odd);
  }
}

.text {
  font-family: var(--font-headline-condensed);
  text-transform: uppercase;
  font-size: var(--font-size-h3);
  padding: 0 0.25ch;
}

.blocker {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
