@use "@styles/breakpoint";
@use "@styles/mixins";

.partners {
  background-color: var(--white);
  color: var(--black);
  padding: var(--spacing-section) 0;
  text-align: center;
  p {
    margin: 0 auto;
    max-width: 35ch;
  }
}

.grid {
  margin-top: calc(var(--spacing-section) / 2);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: breakpoint.$sm) {
    flex-direction: row;
  }
  img {
    display: block;
    width: 50%;
    height: auto;
    margin: 1rem 0;
    @media (min-width: breakpoint.$sm) {
      width: 25%;
      margin: 0;
      padding: 1rem 3rem;
    }
  }
}
