@use "@styles/breakpoint";
@use "@styles/mixins";

.partners {
  background-color: var(--white);
  color: var(--black);
  padding: var(--spacing-section) 0;
  text-align: center;
}

.grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: breakpoint.$sm) {
    flex-direction: row;
  }
  img {
    width: 50%;
    padding: 1rem;
    @media (min-width: breakpoint.$sm) {
      width: 25%;
    }
  }
}
