@use "@styles/mixins";
@use "@styles/breakpoint";

.footer {
  font-size: var(--font-size-smaller);
  a {
    &:link,
    &:visited {
      text-decoration: underline;
    }
    &:hover,
    &:focus {
      color: var(--yellow);
    }
  }
  p {
    margin-bottom: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    li {
      margin: 0 0.25rem;
      img {
        max-width: 44px;
      }
    }
  }
}

.container {
  padding: 2rem 0;
  @include mixins.container();
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  > div {
    order: 2;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @media (min-width: breakpoint.$md) {
      width: unset;
      order: unset;
    }
  }
  > ul {
    order: 1;
    margin-bottom: 1rem;
    @media (min-width: breakpoint.$md) {
      order: unset;
      margin-bottom: 0;
    }
  }
}

ul.socialLinks {
  margin-left: -0.25rem;
  li {
    display: block;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    padding: 0.25rem;
    img {
      filter: invert(1);
      transition: opacity 150ms ease-out;
    }
    @media (any-hover: hover) and (any-pointer: fine) {
      &:hover,
      &:focus {
        img {
          opacity: 0.5;
        }
      }
    }
  }
  img {
    display: block;
    width: 25px;
    height: auto;
  }
}
