@use "@styles/breakpoint";
@use "@styles/mixins";

.faq {
  background-color: var(--yellow);
  color: var(--black);
  padding: var(--spacing-section) 0;

  h2 {
    text-align: center;
    font-size: var(--font-size-h1);
    max-width: 15ch;
    margin: 0 auto calc(var(--spacing-section) / 2);
    :global(.handwritten) {
      color: var(--blue);
    }
  }

  h3 {
    @media (max-width: breakpoint.$sm) {
      font-size: var(--font-size-h4);
    }
    margin: 0;
    div {
      line-height: 0.85;
      max-width: 20ch;
      width: 80%;
    }
  }
  .icon {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 0.05rem;
    @media (min-width: breakpoint.$md) {
      margin-top: 0.95rem;
      width: 40px;
      height: 40px;
    }
  }

  .iconY {
    &.open {
      display: none;
    }
  }

  .button {
    text-transform: uppercase;
    margin: 1rem 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    color: var(--black);
  }

  .item {
    border-top: 2px solid var(--black);
  }

  .panel {
    max-width: 65ch;
  }
}
