@use "@styles/breakpoint";
@use "@styles/mixins";

.schedule {
  padding: var(--spacing-section) 0;
  background-color: var(--white);
  color: var(--black);
  // background-image: url(/images/obl-background-light.svg);
  // background-size: 18%;
  // background-position: top;
  // background-repeat: repeat;
}

.grid {
  display: grid;
  column-gap: 0;
  row-gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  @media (min-width: breakpoint.$sm) {
    padding: 0;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: breakpoint.$lg) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.blank {
  @media (min-width: breakpoint.$lg) {
    background-color: var(--black);
    opacity: 0.1;
    aspect-ratio: 1/1;
  }
}
