@use "@styles/breakpoint";
@use "@styles/mixins";

.schedule {
  padding: var(--spacing-section) 0;
  background-color: var(--white);
  color: var(--black);
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 60%,
      rgba(255, 255, 255, 0) 100%
    ),
    url(/images/obl-background-light.svg);
  background-size: 100%, 18%;
  background-position: top, top;
  background-repeat: no-repeat, repeat;
  h2 {
    margin-bottom: 3rem;
    @media (min-width: breakpoint.$md) {
      margin-bottom: 6rem;
    }
  }
}

.grid {
  display: grid;
  column-gap: 0;
  row-gap: 3rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  @media (min-width: breakpoint.$sm) {
    padding: 0;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: breakpoint.$lg) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.blank {
  display: none;
  @media (min-width: breakpoint.$lg) {
    display: block;
    background-color: var(--black);
    opacity: 0.1;
    aspect-ratio: 1/1;
  }
}
