.textAsset {
  margin: var(--spacing-section) 0;

  &.theme-light {
    background-color: var(--white);
    color: var(--black);
    margin: 0;
    padding: var(--spacing-section) 0;
  }

  &.theme-blue {
    background-color: var(--blue);
    color: var(--white);
    margin: 0;
    padding: var(--spacing-section) 0;
  }

  &.theme-yellow {
    background-color: var(--yellow);
    color: var(--black);
    margin: 0;
    padding: var(--spacing-section) 0;
  }
}

.grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}
