@use "@styles/breakpoint";
@use "@styles/mixins";

.textAsset {
  margin: var(--spacing-section) 0;

  &.theme-light {
    background-color: var(--white);
    color: var(--black);
    margin: 0;
    padding: var(--spacing-section) 0;
  }

  &.theme-blue {
    background-color: var(--blue);
    color: var(--white);
    margin: 0;
    padding: var(--spacing-section) 0;
    h2 {
      color: var(--white);
    }
  }

  &.theme-yellow {
    background-color: var(--yellow);
    color: var(--black);
    margin: 0;
    padding: var(--spacing-section) 0;
    h2,
    h3,
    p {
      color: var(--black);
    }
  }

  :global(.button-outline) {
    a {
      @include mixins.button();
      position: relative;
      z-index: 5;
      margin: 0 auto;
      text-transform: uppercase;
      color: var(--yellow);
      border-color: var(--yellow);
      &:link,
      &:visited {
        color: var(--yellow);
        border-color: var(--yellow);
      }
      &:hover,
      &:focus {
        color: var(--black);
        background-color: var(--yellow);
        border-color: var(--yellow);
      }
    }
  }
}

.intro {
  max-width: 48rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: var(--spacing-section);
  h2 {
    @include mixins.sectionLabel();
  }
  h3 {
    font-size: var(--font-size-h2);
    line-height: 0.85;
    span {
      line-height: 0.85;
    }
  }
  :global(.text-yellow) {
    color: var(--yellow);
  }
}

.grid {
  display: grid;
  align-items: center;
  column-gap: 0;
  row-gap: 2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  @media (min-width: breakpoint.$sm) {
    column-gap: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: breakpoint.$md) {
    column-gap: 4rem;
  }
  @media (min-width: breakpoint.$lg) {
    column-gap: 8rem;
  }
  p,
  ul,
  ol {
    max-width: 25rem;
    font-size: var(--font-size-larger);
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  h2 {
    @include mixins.sectionLabel();
  }

  h3 {
    max-width: 25rem;
  }

  &.align-image-right {
    div:nth-of-type(1) {
      order: 2;
      @media (min-width: breakpoint.$sm) {
        order: 1;
      }
    }
    div:nth-of-type(2) {
      order: 1;
      @media (min-width: breakpoint.$sm) {
        order: 2;
      }
    }
  }
  &.align-image-left {
    div:nth-of-type(1) {
      order: 2;
    }
    div:nth-of-type(2) {
      order: 1;
    }
  }
}
