@use "@styles/breakpoint";
@use "@styles/mixins";
.error {
  padding: var(--spacing-section) 0;
}
.button {
  @include mixins.button();
  position: relative;
  z-index: 5;
  &.fill {
    display: inline-block;
    margin-left: auto;
    font-size: 1.3125rem;
    font-family: var(--font-body-bold);
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--yellow);
  }
}
