@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "Upperhand";
  src: url("/fonts/upperhand/upperhand-regular.eot");
  src: url("/fonts/upperhand/upperhand-regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/upperhand/upperhand-regular.woff2") format("woff2"),
    url("/fonts/upperhand/upperhand-regular.woff") format("woff"),
    url("/fonts/upperhand/upperhand-regular.ttf") format("truetype"),
    url("/fonts/upperhand/upperhand-regular.svg#youworkforthem") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Knockout 51";
  src: url("/fonts/knockout/woff2/Knockout-51_Web.woff2") format("woff2"),
    url("/fonts/knockout/woff/Knockout-51_Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Knockout 69";
  src: url("/fonts/knockout/woff2/Knockout-69_Web.woff2") format("woff2"),
    url("/fonts/knockout/woff/Knockout-69_Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Knockout 67";
  src: url("/fonts/knockout/woff2/Knockout-67_Web.woff2") format("woff2"),
    url("/fonts/knockout/woff/Knockout-67_Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Knockout 73";
  src: url("/fonts/knockout/woff2/Knockout-73_Web.woff2") format("woff2"),
    url("/fonts/knockout/woff/Knockout-73_Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
