@use "@styles/breakpoint";
@use "@styles/mixins";

.location {
  padding: calc(var(--spacing-section) / 2) 0 var(--spacing-section);
}

.location .grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.schedule {
  padding: var(--spacing-section) 0;
}

.schedule .grid {
  display: grid;
  column-gap: 0;
  row-gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  @media (min-width: breakpoint.$sm) {
    padding: 0;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: breakpoint.$lg) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
