@use "@styles/breakpoint";
@use "@styles/mixins";

.container {
  margin: var(--spacing-section) 0;
  @include mixins.container();
}

.pinnedPost {
  margin: var(--spacing-section) 0 calc(var(--spacing-section) / 2);
  a {
    display: grid;
    align-items: center;
    column-gap: 0;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    background-color: var(--white);
    color: var(--black);
    transition: color 150ms ease-out;
    > div {
      padding: 16px;
      @media (min-width: breakpoint.$md) {
        padding: 16px 64px 16px 0;
      }
    }
    > picture {
      height: 100%;
      img {
        display: block;
        width: auto;
        height: 100%;
        object-fit: cover;
      }
    }
    h2 {
      overflow-wrap: unset;
      font-size: var(--font-size-h3);
      margin-bottom: 1rem;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
    .label {
      @include mixins.sectionLabel();
      color: var(--black);
      transition: color 150ms ease-out;
    }
    @media (any-hover: hover) and (any-pointer: fine) {
      &:hover,
      &:focus {
        color: var(--blue);
        .label {
          color: var(--blue);
        }
      }
    }
    @media (min-width: breakpoint.$md) {
      column-gap: 64px;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

.label {
  @include mixins.sectionLabel();
  color: var(--black);
  transition: color 150ms ease-out;
}

.newsPostsResults {
  .grid {
    min-height: 600px;
    display: grid;
    column-gap: 0;
    row-gap: 3rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin-bottom: calc(var(--spacing-section) / 2);
    @media (min-width: breakpoint.$sm) {
      padding: 0;
      column-gap: 2rem;
      row-gap: 2rem;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @media (min-width: breakpoint.$lg) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

.filter {
  width: 100%;
  margin: calc(var(--spacing-section) / 2) 0;
  display: flex;
  justify-content: flex-end;
}

.button {
  @include mixins.button();
  position: relative;
  z-index: 5;
  margin: 0 auto;
  &.fill {
    display: flex;
    margin-left: auto;
    font-size: 1.3125rem;
    font-family: var(--font-body-bold);
    text-transform: uppercase;
    color: var(--black);
    background-color: var(--yellow);
  }
  &.disabled {
    cursor: auto;
    opacity: 0.2;
    &:hover,
    &:focus {
      color: var(--black);
      background-color: var(--yellow);
      border-color: var(--yellow);
    }
  }
}
