@use "@styles/breakpoint";
@use "@styles/mixins";
.container {
  padding: var(--spacing-section) 0;
  @include mixins.container();
}

.pinnedPost {
  a {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
