@use "@styles/breakpoint";
@use "@styles/mixins";

.container {
  margin: var(--spacing-section) 0;
  @include mixins.container();
}

.grid {
  min-height: 600px;
  display: grid;
  column-gap: 0;
  row-gap: 2rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-bottom: calc(var(--spacing-section) / 2);
  @media (min-width: breakpoint.$sm) {
    padding: 0;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: breakpoint.$lg) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
